doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->

    title="Яблоки"
    link(href="css/animate.min.css" rel="stylesheet")
    link(href="css/slick.css" rel="stylesheet")
    link(href="css/magnific-popup.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")
  body.page
    block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU")
    script(src="js/slick.min.js") 
    script(src="js/jquery.magnific-popup.min.js") 
    script(src="js/wow.min.js") 
    script(src="js/main.js") 