footer.footer
  img.footer__img(src="img/footer.jpg", alt="")
  .footer__content
    .footer__wrapper
      .footer__flex
        .footer__block
          .footer__contacts
            span.footer__span1 По всем вопросам марафона:
            span.footer__span--name Хохрякова Ольга
            a.footer__span--phone(href="tel:+7(912)743-18-93") +7(912)743-18-93
            span.footer__span--mail E-mail: 
              a(href="mailto:mail@kazanxcski.ru") mail@kazanxcski.ru
            span.footer__span2 ИНФОРМАЦИЯ ДЛЯ СПОНСОРОВ
            span.footer__span--info Предлагаем различные варианты спонсорских пакетов.
              br
              | По вопросам приобретения обращайтесь на:
              br
              a(href="mailto:mail@kazanxcski.ru") mail@kazanxcski.ru, 
              a(href="tel:8-937-529-2013") 8-937-529-2013
          .footer__socials
            a.footer__socials_item.footer__socials_item--vk(href="") vk.com/kazanxcski
            a.footer__socials_item.footer__socials_item--fb(href="") facebook.com/kazanxcski/
            a.footer__socials_item.footer__socials_item--ig(href="") instagram.com/kazan_ski_marathon/
          .footer__copyright © 2018 Казанский лыжный марафон

