footer.footer
  .footer__wrapper
    div.footer__logo_flex
      a.footer__logo(href="")
        img(src="img/logo-footer.png", alt="яблоки")
      .footer__text Официальный сайт 
        br 
        | гостиницы в Нижнем Новгороде
        a(href="") Политика конфиденциальности
    .footer__menu
      a.footer__menu_item(href="") Главная
      a.footer__menu_item(href="") Отель
      a.footer__menu_item(href="") Номера и цены
      a.footer__menu_item(href="") Сауна
      a.footer__menu_item(href="") Бронирование
      a.footer__menu_item(href="") Акции
      a.footer__menu_item(href="") Галерея
      a.footer__menu_item(href="") Контакты
    .footer__btn_over
      .footer__btn НАПИСАТЬ НАМ
    .footer__pay_over
      img.footer__pay(src="img/pay.png", alt="")
    a.footer__weblitex(href="")
      img(src="img/weblitex.png", alt="")
      | Разработка и продвижение
      span WEBLITEX.RU
  
  .to-top#toTop вверх