section.fond.header__wrapper
  .fond__top
    span.fond__content
      b ПРИЗОВОЙ ФОНД
      span 1 000 000 
      | рублей
    .fond__btn стать участником
  .fond__flex 
    .fond__item.fond__item--distance
      i
      .fond__item_text
        b Дистанции:
        | 50\30\5 км
    .fond__item.fond__item--place
      i
      .fond__item_text
        b Место и дата:
        | РТ, г.Казань, п.Юдино, ул.Футбольная, д.1, стадион «Локомотив» 11 марта 2018 года
    .fond__item.fond__item--style
      i
      .fond__item_text
        b Стиль марафона:
        | Свободный
    .fond__item.fond__item--loppet
      i
      .fond__item_text
        b Russialoppet
        | Казанский марафон с 2017 года в составе Russialoppet.

section.start
  .header__wrapper
    h2.start__title СТАРТОВЫЙ ВЗНОС:
    .start__flex
      .start__item.or-link 
        img.start1(src="img/start1.png", alt="")
        span.start__distance 50км
        span.start__subtitle Цена взноса
        span.start__text до 01.01.2018 / 1500 руб.
          br
          | 01.01.2018 - 31.01.2018 / 1750 руб.
          br
          | 01.02.2018 - 28.02.2018 / 2000 руб.
          br
          | с 01.03.2018 (при наличии свободных слотов) / 2500 руб.
      .start__item.blue-link
        img.start2(src="img/start2.png", alt="")
        span.start__distance 30км
        span.start__subtitle.start__color--blue1 Цена взноса
        span.start__text.start__color--blue1 до 01.01.2018 / 1500 руб.
          br
          | 01.01.2018 - 31.01.2018 / 1750 руб.
          br
          | 01.02.2018 - 28.02.2018 / 2000 руб.
          br
          | с 01.03.2018 (при наличии свободных слотов) / 2500 руб.
      .start__item.bir-link
        img.start3(src="img/start3.png", alt="")
        img.start4(src="img/start4.png", alt="")
        span.start__distance 5км
        span.start__subtitle.start__color--blue2 Цена взноса
        span.start__text.start__color--blue2 до 01.01.2018 / 1000 руб.
          br
          | 01.01.2018 - 31.01.2018 / 1250 руб.
          br
          | 01.02.2018 - 28.02.2018 / 1500 руб.
          br
          | с 01.03.2018 (при наличии свободных слотов) / 1750 руб.

section.sheme
  h2.sheme__title 
    span Карта-схема
  img.sheme__img(src="img/sheme.png", alt="")

section.manage
  .manage__wrapper
    .manage__list
      .manage__item
        img.manage__img(src="img/president.png", alt="")
        .manage__content
          .manage__title
            b Президент Федерации лыжных гонок и биатлона Республики Татарстан:
            span Ильшат Шаехович Фардиев
          .manage__text
            p От имени Федерации лыжных гонок и биатлона Республики Татарстан и от себя лично приветствую вас на празднике спорта и дружбы, каким стал Казанский лыжный марафон!
            p Казанский лыжный марафон – это поистине масштабное, яркое спортивное событие с пятидесятилетней историей и мы очень рады новой встрече с вами. Мы постарались создать все условия, чтобы очередной лыжный марафон прошел на самом высоком уровне, чтобы все ваши мечты о новых рекордах непременно сбылись!
            p Этот масштабный и яркий спортивный праздник способствует реализации важнейшего приоритета государственной политики Республики Татарстан - популяризации здорового образа жизни, воспитанию здорового поколения, развитию лыжного спорта.
            p Правительство нашей республики уделяет пристальнане, поддерживает проведение значимых спортивных мероприятий. Мы строим новые и реконструируем физкультурно-оздоровительные комплексы, стадионы, лыжные базы. Наша республика постоянно становится центром проведения крупных спортивных соревнований мирового, европейского и всероссийского уровней.ое внимание развитию спорта и формированию приоритетов здорового образа жизни в Татарст
            p Президентом Республики Татарстан Рустамом Миннихановым было поддержано предложение Президента Федерации лыжных гонок России Елены Вяльбе и руководства Федерации лыжных гонок Республики Татарстан о поэтапной реконструкции стадиона Локомотив, который по традиции стала главной ареной Казанского лыжного марафона. После реконструкции стадион должен стать современным спортивным объектом, отвечающим международным требованиям, а главное - комфортным для зрителей и спортсменов.
            p Считаю важным, что каждый раз, при проведении Казанского лыжного марафона, неизменными остаются самые главные принципы: сохранение соревновательного спортивного духа, нерушимость традиций, честная и бескомпромиссная борьба, основанная на добрых, дружеских взаимоотношениях. Уверен, что и нынешний марафон позволит выявить сильнейших и достойнейших спортсменов. Дерзайте, выигрывайте, побеждайте!
          span.manage__read-more.js-manage__read-more Читать полностью

      .manage__item
        img.manage__img(src="img/vostrikova.png", alt="")
        .manage__content
          .manage__title.manage__title--bir
            b Председатель Комитета физическойкультуры и спорта г. Казани:
            span Светлана Анатольевна Вострикова
          .manage__text
            p От лица Комитета физической культуры и спорта Исполнительного Комитета г. Казани и себя лично я рада приветствовать вас на Казанском лыжном марафоне! Этот марафон проводится уже в 51-й раз и в прошлом – 2017 году – он вошел в календарь стартов всероссийской серии лыжных марафонов России Russialoppet.
            p Казанский лыжный марафон имеет славные традиции и высокие достижения, которыми мы можем по праву гордиться. Мы ставим целью сделать лыжный спорт в Казани по настоящему массовым, способным решать задачи по оздоровлению жителей города, обеспечению возможности регулярного общения с прекрасной природой.
            p Я надеюсь, что у всех участников останутся самые положительные воспоминания от соревнований и нашего города.
            p Желаю всем участникам соревнований легкой лыжни, быстрых секунд, чтобы хватило сил дойти до финиша и поставить свой личный рекорд!
          span.manage__read-more.js-manage__read-more.manage__read-more--bir Читать полностью

section.history
  .history__wrapper
    h2.history__title ИСТОРИЯ МАРАФОНА:
    span.history__subtitle История протяжённостью 50 лет
    .history__text 
      p 24 марта 1968 года в сосновом бору возле железнодорожного переезда, около озера Лебяжье был дан старт первому лыжному марафону на приз Казанского государственного педагогического института. В 1968 году Казанский государственный педагогический институт отмечал свое 50-летие (правда, историки института чуть позже доказали, что институту было за девяносто). Решением ректора института каждому факультету рекомендовалось отметить эту знаменательную дату крупными республиканскими и всесоюзными мероприятиями. Факультет физвоспитания, в этой связи, решил провести следующие мероприятия: открытое первенство института по лыжным гонкам на 50 км среди мужчин (март), всесоюзную научно-практическую конференцию по теоретическим основам физического воспитания (май), и финал Минпроса РСФСР по волейболу (июль, спортлагерь «Яльчик»). План мероприятий был одобрен ректором. И вот 24 марта был дан старт первому лыжному марафону на приз КГПИ. Почетным главным судьей этих соревнований был утвержден ректор института Закиев Мирфатых Закиевич. Спортивный клуб института учредил главный приз победителю – лыжи «Эстония». По тем временам это был солидный приз. Лыжи «Эстония» и в последующих соревнованиях вручались победителям гонки. В тот памятный день в трудный путь 50-километровой гонки вышли 24 сильнейших лыжника республики, десять из них были мастерами спорта.
      p Трудную и изнурительную борьбу на дистанции не выдержали девять гонщиков, а остальные 15, проявив силу и волю, успешно закончили гонку. В острой борьбе с представителями Советской Армии Ю.Красновым и А Герасимовым лучший результат показал мастер спорта из спортивного клуба «Рубин» Гумар Гайнуллин – 4 часа 14 минут 30 секунд. Второе и третье место соответственно заняли Юрий Краснов и Александр Герсимов. Командную победу одержали лыжники педагогического института. Приз самого молодого гонщика завоевал Василий Смирнов из КГПИ, приз ветерана достался Ивану Куряткову из города Зеленодольска.
      p Вот так, 24 марта 1968 года было положено начало Казанскому лыжному марафону – самой популярной гонке в республике.
      p С 1976 года главным спонсором гонки стал Татарский областной Совет профсоюзов, и до 1993 года все финансовые расходы соревнований несли профсоюзы республики.
      p С 1976 года по просьбе спортивной общественности в программу гонок была включена дистанция 20 км. для женщин и первой победительницей женского марафона стала Елена Данилова («Труд»).
      p С 1984 года хозяином Казанского лыжного марафона наравне с педагогическим университетом стал Комитет по физической культуре, спорту и туризму администрации города Казани. За все годы только двум лыжникам-гонщикам удалось трижды быть победителем Казанского лыжного марафона – это мастер спорта СССР Ильфар Саляхов из рабочего поселка Кукмор – 1989, 1990 и 1993 гг. и Марат Низамутдинов - 1995, 1998, 1999 гг. из города Зеленодольска. Дважды побеждали мастер спорта СССР Мансур Галеев – 1977 и 1980 гг. и мастер спорта СССР Рашид Ханнанов – 1985, 1987 гг.
      p Только мастеру спорта СССР Ание Галимуллиной удалось пять раз стать победительницей Казанского лыжного марафона среди женщин на дистанции 20 км. (1981, 1991, 1993, 1995 и 1996 г.г.).
      p Самое большое количество участников Казанского лыжного марафона было в 1989 году, тогда в соревнованиях приняло участие 237 мужчин и 85 женщин, представлявших 40 команд коллективов физической культуры и спортивных клубов.
      p Самый теплый день был в 1989 году, тогда термометр показывал +5 градус, а в 1999 году выдался самый холодный день, температура была -15 градус.
    .history__read-more.js-history__read-more.manage__read-more читать полностью
    .history__btns
      a.history__btn(href="") С 2017 года в составе Russialoppet.
      a.history__btn(href="") Список участников 2017 год

section.orgcom
  .history__wrapper
    h2.orgcom__title ОРГАНИЗАЦИОННЫЙ КОМИТЕТ
      br
      | КАЗАНСКОГО ЛЫЖНОГО МАРАФОНА
    .orgcom__list
      .orgcom__item
        .orgcom__item--container
          span Директор соревнований:
            br
            | Сабитов Артур Евгеньевич
          span E-mail: 
            a(href="mail") SabitovAE@gridcom-rt.ru
          span Тел.: 
            a(href="") 89375292013
      .orgcom__item
        .orgcom__item--container
          span Операционный директор:
            br
            | Хохрякова Ольга Геннадиевна
          span E-mail: 
            a(href="") ole-ole1990@yandex.ru
          span Тел.: 
            a(href="") 89127431893, 
            a(href="") (843) 20-000-76
      .orgcom__item
        .orgcom__item--container
          span Главный судья:
            br
            | Ионов Алексей Алексеевич
          span E-mail: 
            a(href="") ionov.55@mail.ru
          span Тел.: 
            a(href="") 89274505198
      .orgcom__item
        .orgcom__item--container
          span Ведущий специалист по работе со СМИ:
            br
            | Султанова Гульсира Мубараковна
          span E-mail: 
            a(href="") sultanova-gulsira@mail.ru
          span Тел.: 
            a(href="") 89872907817

section.org
  h2.org__title Организаторы
  .org__list
    img.org__item(src="img/federation.png", alt="")
    img.org__item(src="img/meria.png", alt="")
  h3.org__subtitle Генеральный партнер:
  .org__list
    img.org__item(src="img/set-company.png", alt="")
  h3.org__subtitle Партнеры:
  .org__list
    img.org__item(src="img/ski.png", alt="")
    img.org__item(src="img/ksp2.png", alt="")
    img.org__item(src="img/squeezy.png", alt="")
  h3.org__subtitle информационные Партнеры:
