header.header
  .header__wrapper
    .header-top
      .header__btn Стать волонтером
      .butter
      nav.header__menu
        .header__menu_link.header__menu_link--sub
          a.info-link(href="info.html") ИНФО
          span.submenu__open
          .header__submenu
            .header__submenu--container
              a.header__submenu_item.blue-link(href="") Как добраться
              a.header__submenu_item.bir-link(href="") Где разместиться
              a.header__submenu_item.or-link(href="") Выдача стартовых пакетов 
              a.header__submenu_item.blue-link(href="") Паспорт Рашалопет
        .header__menu_link
          a.news-link(href="news.html") НОВОСТИ
        .header__menu_link
          a.info-link(href="") ГАЛЕРЕЯ
        .header__menu_link
          a.result-link(href="") РЕЗУЛЬТАТЫ
        .header__menu_link
          a.news-link(href="") ПОЛОЖЕНИЕ
        .header__menu_link
          a.result-link(href="") СПИСОК УЧАСТНИКОВ

  .header__img
    #header-img.header__img--container
      img.header__img_bg(src="img/header/header-bg.png", alt="")
      img.man#man1(src="img/header/man1.png", alt="")
      img.man#man2(src="img/header/man2.png", alt="")
      img.man#man3(src="img/header/man4.png", alt="")
      img.man#man4(src="img/header/man3.png", alt="")
      .dots
        #dot1
        #dot2
        #dot3
        #dot4
        #dot5
        #dot6
        #dot7
        #dot8

        #dot9
        #dot10
        #dot11
        #dot12
        #dot13

        #dot14
        #dot15
        #dot16
        #dot17
        #dot18
        #dot19
        #dot20

        #dot21
        #dot22
        #dot23
        #dot24
        #dot25
        #dot26
        #dot27