header.header
  .header__wrapper
    .header-top
      .header__btn Стать волонтером
      nav.header__menu
        .header__menu_link
          a.info-link(href="") ИНФО
          .header__submenu
            .header__submenu--container
              a.header__submenu_item.blue-link(href="") Как добраться
              a.header__submenu_item.bir-link(href="") Где разместиться
              a.header__submenu_item.or-link(href="") Выдача стартовых пакетов 
              a.header__submenu_item.blue-link(href="") Паспорт Рашалопет
        .header__menu_link
          a.news-link(href="") НОВОСТИ
        .header__menu_link
          a.info-link(href="") ГАЛЕРЕЯ
        .header__menu_link
          a.result-link(href="") РЕЗУЛЬТАТЫ
        .header__menu_link
          a.news-link(href="") ПОЛОЖЕНИЕ
        .header__menu_link
          a.result-link(href="") СПИСОК УЧАСТНИКОВ

  .header__img
    img(src="img/header.jpg", alt="")