header.header
  .header__top
    .wrapper.header__wrapper
      span.header__address г. Нижний Новгород,
        br
        | р-н. Ленинский, ул. Дружбы, д. 19а
      .header__top_flex
        a.header__logo(href="")
          img(src="img/logo.png", alt="Яблоки")
        .butter
      .book-btn ЗАБРОНИРОВАТЬ НОМЕР
      .header__phone
        a.header__phone_link(href="tel:+7 (831) 2508-555") +7 (831) 2508-555
        span круглосуточно
  .header__menu--container
    ul.header__menu
      li.header__menu_item
        a(href="/") Главная
      li.header__menu_item
        a(href="hotel.html") Отель
      li.header__menu_item
        a(href="rooms.html") Номера и цены
        span.header__submenu_arrow
        .header__submenu
          .header__submenu_block
            a.header__submenu_item(href="") Номера класса «Стандарт»
            a.header__submenu_item(href="") Номера класса «Комфорт»
            a.header__submenu_item(href="") Номера класса «Люкс»
      li.header__menu_item
        a(href="") Сауна
      li.header__menu_item
        a(href="booking.html") Бронирование
      li.header__menu_item
        a(href="akcii.html")  Акции
      li.header__menu_item
        a(href="gallery.html") Галерея
      li.header__menu_item
        a(href="contacts.html") Контакты

