section.breadcrumbs
  .breadcrumbs__list
    a.breadcrumbs__link(href="") ГЛАВНАЯ
    a.breadcrumbs__link(href="") ИНФО

section.news
  h1.page__title ИНФО
  .one-news__item
    h2.info__subtitle КАК ДОБРАТЬСЯ
    span.one-news__date 01.01.2020
    .one-news__flex
      .one-news__img
        img(src="", alt="")
      .one-news__text
        p Текст инфо
