@import "normalize";
/* Custom */
@import "partials/fonts";

* {
  font-family: "A Avante Bs";
  font-size: 14px;
}
a {
  text-decoration: none;
}

@import "partials/header";

@import "partials/front";

@import "partials/footer";

@import "partials/media";