/*footer*/
.footer {
  position: relative;
  background: url(../img/footer-bg.jpg) no-repeat center;
  background-size: cover;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0c0c0c;
    opacity: 0.8;
  }

  &__wrapper {
    position: relative;
    max-width: 1310px;
    margin: 0 auto;
    padding: 80px 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    &_item {
      color: #ffffff;
      font-family: "Museo Sans Cyrl";
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;
      padding: 0 17px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__btn {
    width: 187px;
    height: 44px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Museo Sans Cyrl";
    font-size: 14px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
    flex-shrink: 0;
    margin: 0 5px;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      background: #fff;
      color: #333;
    }
  }
  &__pay {
    margin: 0 5px;
  }

  &__weblitex {
    color: #ffffff;
    font-family: "Museo Sans Cyrl";
    font-size: 16px;
    font-weight: 100;

    & span {
      font-weight: 700;
      letter-spacing: 2px;
      display: block;
    }
    & img {
      float: left;
      margin-right: 13px;
    }

    &:hover span {
      text-decoration: underline;
    }
  }

  &__logo {
    margin-right: 25px;
    float: left;

    &_flex {
      display: flex;
    }
  }

  &__text {
    color: #ffffff;
    font-family: "Museo Sans Cyrl";
    font-size: 14px;
    font-weight: 100;

    & a {
      display: block;
      padding-top: 10px;
      color: #848484;
      font-family: "Museo Sans Cyrl";
      font-size: 14px;
      font-weight: 100;
      line-height: 16px;
      text-decoration: underline;
    }
  }
}

.to-top {
  width: 60px;
  height: 54px;
  position: fixed;
  bottom: 180px;
  right: 20px;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  padding-top: 30px;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
  transition: .2s;
  display: none;

  &:hover {
    font-weight: 700;
    padding-top: 35px;

    &::before {
      top: -5px;
    }
  }

  &::before {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    content: '';
    width: 50px;
    height: 50px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    border-radius: 3px;
    transform: rotate(-45deg);
    transition: .2s;
  }
}













