.header {

  &__img {
    & img {
      width: 100%;
    }
  }

  &-top {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
  }
  &__btn {
    height: 42px;
    background: #4a88b1;
    padding: 0 12px;
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;

    &:active {
      background: #3d677d;
    }
  }
  &__menu {
    display: flex;
    align-items: center;

    &_link {
      margin-left: 20px;
      position: relative;

      &:hover .header__submenu {
        opacity: 1;
        visibility: visible;
        margin-top: 0px;
      }

      & > a {
        color: #000000;
        font-family: "A Avante Bs";
        font-size: 16px;
        font-weight: 400;
        line-height: 9.92px;
        font-variant: small-caps;
        letter-spacing: -.8px;
        padding: 1px 6px 0;
        background: transparent;
        // transition: .1s ease-in-out;

        &.info-link:hover {
          background: #78cae7;
        }
        &.news-link:hover {
          background: #ff6a66;
        }
        &.result-link:hover {
          background: #45d0ce;
        }
      }
    }
  }
  &__submenu {
    position: absolute;
    top: 100%;
    margin-top: 20px;
    opacity: 0;
    padding-top: 12px;
    visibility: hidden;
    transition: .2s ease-in-out;
    width: 210px;
    box-sizing: border-box;

    &--container {
      position: relative;
      padding: 11px 6px 5px;
      background-color: #e0effc;

      &::before {
        position: absolute;
        top: -7px;
        left: 20px;
        content: '';
        width: 14px;
        height: 14px;
        background-color: #e0effc;
        transform: rotate(45deg);
      }
    }

    &_item {
      display: block;
      margin-bottom: 6px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      height: 22px;
      line-height: 22px;
      text-transform: uppercase;
      letter-spacing: -.6px;
      padding: 0 3px;

      &:hover {
        color: #284360;
      }
    }
  }
}

.blue-link {
  background: #78cae7;
}
.bir-link {
  background: #45d0ce;
}
.or-link {
  background: #ff6a66;
}